div{
    border: 1px solid black;
    box-sizing: border-box;
}

#main-container{
    min-width: 300px;
    min-height: 500px;

    width: 600px;
    height: 1000px;

    margin-left: auto;
    margin-right: auto;
    margin-bottom: 30px;

    background-color: rgb(214, 212, 212);
}

#display{
    margin-top: 50px;
    height: 10%;
    font-size: 30px;
    text-align: center;

    background-color: rgb(101, 185, 101);
}

#button-container{
    margin-top:50px;
    height: 70%;

    display: flex;
    flex-direction: row;
}


#number-side, #operator-side{
    /* border: 0px; */
    height: 100%;
    width: 100%;

    display: flex;
    gap: 10px;
    flex-wrap: wrap;
    box-sizing: border-box;
    padding: 10px;
}



.numbers, .operators{
    height: 25%;
    width: 25%;
    background-color: white;
    font-weight: bold;
    font-size: 20px;
    margin: auto;
}

